lib_managed
local_lib
project/boot
markdown_lib
project/build/target
project/plugins/lib_managed
project/plugins/project
project/plugins/src_managed
project/plugins/target
target
*.sublime-*
*.swp
.idea
atlassian-ide-plugin.xml
